.pokemon_card {
    width: 100%;
    max-width: 220px;
    background: #18183a;
    border: 1px solid rgba(0, 255, 81, 0.25);
    border-radius: 24px;
    padding: 1rem 0.75rem 0.85rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition:
        transform .2s ease,
        box-shadow .2s ease;
}

.pokemon_card {
    transition:
        transform 0.2s ease,
        box-shadow 0.2s ease;
}

.pokemon_image {
    transform-origin: center;
    transition:
        transform 0.2s ease;
}

.pokemon_card:hover {
    transform: translateY(-3px);
    box-shadow:
        0 10px 25px rgba(0, 0, 0, .3);
}

.pokemon_card:hover .pokemon_image {
    transform: scale(1.12);
}

.pokemon_card:hover .pokemon_image {
    transform:
        scale(1.15)
        translateY(-4px);
}

.pokemon_id {
    color: rgba(255,255,255,.35);
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.pokemon_image {
    width: 120px;
    height: 120px;
    max-width: 100%;
    margin-bottom: 0.75rem;
    object-fit: contain;
}

.pokemon_card h2 {
    margin: 0 0 18px;
    min-height: 2.5rem;
    margin-top: -12px;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    text-transform: capitalize;

}

.pokemon_types {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    align-content: flex-start;
}

.type_badge {
    padding: 4px 8px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 700;
    color: white;
}

.pokemon_card.border-grass {
    border-color: #7ac74c;
}

.pokemon_card.border-fire {
    border-color: #ee8130;
}

.pokemon_card.border-water {
    border-color: #6390f0;
}

.pokemon_card.border-electric {
    border-color: #f7d02c;
}

.pokemon_card.border-ice {
    border-color: #96d9d6;
}

.pokemon_card.border-fighting {
    border-color: #c22e28;
}

.pokemon_card.border-poison {
    border-color: #a33ea1;
}

.pokemon_card.border-ground {
    border-color: #e2bf65;
}

.pokemon_card.border-flying {
    border-color: #a98ff3;
}

.pokemon_card.border-psychic {
    border-color: #f95587;
}

.pokemon_card.border-bug {
    border-color: #a6b91a;
}

.pokemon_card.border-rock {
    border-color: #b6a136;
}

.pokemon_card.border-ghost {
    border-color: #735797;
}

.pokemon_card.border-dragon {
    border-color: #6f35fc;
}

.pokemon_card.border-dark {
    border-color: #705746;
}

.pokemon_card.border-steel {
    border-color: #b7b7ce;
}

.pokemon_card.border-fairy {
    border-color: #d685ad;
}

.pokemon_card.border-normal {
    border-color: #a8a77a;
}