.pokemon_card {
    width: 100%;
    max-width: 220px;
    background: #18183a;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 24px;
    padding: 1rem 0.75rem 0.85rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition:
        transform .2s ease,
        box-shadow .2s ease;
}

@media (min-width: 375px) {
    .pokemon_card {
        max-width: 170px;
        padding: 0.75rem 0.5rem;
    }
}

.pokemon_card {
    transition:
        transform 0.2s ease,
        box-shadow 0.2s ease;
}

.pokemon_image {
    transform-origin: center;
    transition:
        transform 0.2s ease;
}

.pokemon_card:hover {
    transform: translateY(-3px);
    box-shadow:
        0 10px 25px rgba(0, 0, 0, .3);
}

.pokemon_card:hover .pokemon_image {
    transform: scale(1.12);
}

.pokemon_card:hover .pokemon_image {
    transform:
        scale(1.15)
        translateY(-4px);
}

.pokemon_id {
    color: rgba(255,255,255,.35);
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.pokemon_image {
    width: 120px;
    height: 120px;
    max-width: 100%;
    margin-bottom: 0.75rem;
    object-fit: contain;
}

.pokemon_card h2 {
    margin: 0 0 18px;
    min-height: 2.5rem;
    margin-top: -12px;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    text-transform: capitalize;

}

.pokemon_types {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    align-content: flex-start;
}

.type_badge {
    padding: 4px 8px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 700;
    color: white;
}

.pokemon_card_border_grass {
    background: linear-gradient(
        180deg,
        rgba(120, 200, 80, .35) 0%,
        rgba(120, 200, 80, .05) 100%
    );
}

.pokemon_card_border_fire {
    background: linear-gradient(
        180deg,
        rgba(240, 128, 48, .35) 0%,
        rgba(240, 128, 48, .05) 100%
    );
}

.pokemon_card_border_water {
    background: linear-gradient(
        180deg,
        rgba(104, 144, 240, .35) 0%,
        rgba(104, 144, 240, .05) 100%
    );
}

.pokemon_card_border_electric {
    background: linear-gradient(
        180deg,
        rgba(248, 208, 48, .35) 0%,
        rgba(248, 208, 48, .05) 100%
    );
}

.pokemon_card_border_poison {
    background: linear-gradient(
        180deg,
        rgba(160, 64, 160, .35) 0%,
        rgba(160, 64, 160, .05) 100%
    );
}

.pokemon_card_border_bug {
    background: linear-gradient(
        180deg,
        rgba(168, 184, 32, .35) 0%,
        rgba(168, 184, 32, .05) 100%
    );
}

.pokemon_card_border_normal {
    background: linear-gradient(
        180deg,
        rgba(168, 168, 120, .35) 0%,
        rgba(168, 168, 120, .05) 100%
    );
}

.pokemon_card_border_ground {
    background: linear-gradient(
        180deg,
        rgba(224, 192, 104, .35) 0%,
        rgba(224, 192, 104, .05) 100%
    );
}

.pokemon_card_border_flying {
    background: linear-gradient(
        180deg,
        rgba(168, 144, 240, .35) 0%,
        rgba(168, 144, 240, .05) 100%
    );
}

.pokemon_card_border_fairy {
    background: linear-gradient(
        180deg,
        rgba(238, 153, 172, .35) 0%,
        rgba(238, 153, 172, .05) 100%
    );
}

.pokemon_card_border_fighting {
    background: linear-gradient(
        180deg,
        rgba(192, 48, 40, .35) 0%,
        rgba(192, 48, 40, .05) 100%
    );
}

.pokemon_card_border_psychic {
    background: linear-gradient(
        180deg,
        rgba(248, 88, 136, .35) 0%,
        rgba(248, 88, 136, .05) 100%
    );
}

.pokemon_card_border_rock {
    background: linear-gradient(
        180deg,
        rgba(184, 160, 56, .35) 0%,
        rgba(184, 160, 56, .05) 100%
    );
}

.pokemon_card_border_ghost {
    background: linear-gradient(
        180deg,
        rgba(112, 88, 152, .35) 0%,
        rgba(112, 88, 152, .05) 100%
    );
}

.pokemon_card_border_dragon {
    background: linear-gradient(
        180deg,
        rgba(112, 56, 248, .35) 0%,
        rgba(112, 56, 248, .05) 100%
    );
}

.pokemon_card_border_dark {
    background: linear-gradient(
        180deg,
        rgba(112, 88, 72, .35) 0%,
        rgba(112, 88, 72, .05) 100%
    );
}

.pokemon_card_border_steel {
    background: linear-gradient(
        180deg,
        rgba(184, 184, 208, .35) 0%,
        rgba(184, 184, 208, .05) 100%
    );
}

.pokemon_card_border_ice {
    background: linear-gradient(
        180deg,
        rgba(152, 216, 216, .35) 0%,
        rgba(152, 216, 216, .05) 100%
    );
}